/* 

    https://coolors.co/faf3dd-c8d5b9-8fc0a9 
    font-family: 'Josefin Sans', sans-serif;    100-700
    font-family: 'Yeseva One', cursive;         400

*/

* {
    box-sizing: border-box;
}

body {
    --eggshell: #FAF3DD;
    --tea-green: #C8D5B9;
    --cambridge-blue: #8FC0A9;
    --night-black: #00120B;
    --taupe-grey: #605760;

    margin: 0px;
}



main {
    margin: 0% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main * {
    font-family: 'Josefin Sans', cursive;
    color: var(--night-black);
}

h2 {
    font-size: 2em;
}

main > form {
    padding: 1.6em;
    background-color: var(--tea-green);
    width: max-content;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main > form * {
    font-size: 1.3em;
}

main > form > input[type=text] {
    width: max-content;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    padding: 0px;
    padding-bottom: 1px;
}

main > form > input[type=text]:hover,
main > form > input[type=text]:focus {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--night-black);
}

main > form > input[type=text]:focus {
    outline: none;
}

main > form > input[type=submit] {
    width: max-content;
    padding: 0.5em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--eggshell);
}

main > form > input[type=submit]:hover {
    background-color: var(--taupe-grey);
    color: white;
    transition: 0.2s;
}
