/* 
    https://coolors.co/faf3dd-c8d5b9-8fc0a9 
    font-family: 'Josefin Sans', sans-serif;    100-700
    font-family: 'Yeseva One', cursive;         400
*/

* {
    box-sizing: border-box;
}

body {
    --eggshell: #FAF3DD;
    --tea-green: #C8D5B9;
    --cambridge-blue: #8FC0A9;
    --night-black: #00120B;
    --taupe-grey: #605760;
    --button-transition: 0.2s;
    --header-nav-height: 5rem;

    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-nav-height);
    background: var(--eggshell);
}

header * {
    color: var(--night-black);
}

#header-title {
    padding: 0.7rem;
    height: 100%;
}

#bucket-bounds-logo {
    text-decoration: none;
    border-radius: 0.5em;
    color: blue;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#bucket-bounds-logo svg {
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    object-fit: fill;
    fill: var(--cambridge-blue);
}

#bucket-bounds-logo svg:hover {
    fill: white;
    transition: var(--button-transition);
}

header h1 {
    margin: 0px;
    height: min-content;
    font: 2.8em 'Yeseva One', cursive;
    letter-spacing: 0.1em;
}

.header-nav-link a {
    font: 1.4em 'Josefin Sans', cursive;
    letter-spacing: 0.05em;
    text-decoration: none;
}

header a {
    border-radius: 0.5em;
    padding: 0.3em;
}

header a:hover {
    background: var(--cambridge-blue);
    transition: var(--button-transition);
}

header > nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#nav-profile {
    display: flex;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding: 1rem;
}

#nav-profile > a {
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;

    aspect-ratio: 1 / 1;
}

#nav-img {
    aspect-ratio: 1 / 1;
    width: 2.5rem;
}

main {
    margin: none;
}

main * {
    font-family: 'Josefin Sans', cursive;
    color: var(--night-black);
}

#home-hello-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
}

#home-hello-form > form {
    padding: 1.6em;
    background-color: var(--tea-green);
    width: max-content;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-hello-form > form * {
    font-size: 1.3em;
}

#home-hello-form > form > input[type=text] {
    width: max-content;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    padding: 0px;
    padding-bottom: 1px;
}

#home-hello-form input[type=text]:hover,
#home-hello-form input[type=text]:focus {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--night-black);
}

#home-hello-form input[type=text]:focus {
    outline: none;
}

#home-hello-form input[type=submit] {
    width: max-content;
    padding: 0.5em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--eggshell);
}

#home-hello-form input[type=submit]:hover {
    background-color: var(--taupe-grey);
    color: white;
    transition: var(--button-transition);
}



#location-img-section {
    height: calc(100vh - var(--header-nav-height));
}

#location-main-img {
    width: 100%;    
    height: 75%;
    position: relative;
}

.location-img {
    border: 2px dashed black;
    width: 100%;
    height: 100%;
}

.location-img img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2em; 
    padding-top: 5em;   
    width: 100%;
    background: linear-gradient(transparent, rgb(108, 108, 108));
}

.img-description > h1 {
    margin-block: 0px;
    font-size: 3.5em;
    color: white;
}

#location-img-carousel {
    height: 25%;
    width: 100%;
    display: flex;
}

.secondary-img {
    aspect-ratio: 3 / 2;
}



#location-details {
    display: grid;
}

.container {
    background-color: var(--eggshell);
    border-radius: 0.5em;
}
