/* 
    https://coolors.co/faf3dd-c8d5b9-8fc0a9 
    font-family: 'Josefin Sans', sans-serif;    100-700
    font-family: 'Yeseva One', cursive;         400
*/

* {
    box-sizing: border-box;
}

body {
    --eggshell: #FAF3DD;
    --tea-green: #C8D5B9;
    --cambridge-blue: #8FC0A9;
    --night-black: #00120B;
    --taupe-grey: #5f5f5f;
    --button-transition: 0.2s;
    --header-nav-height: 5rem;

    margin: 0px;
}

h1, h2 {
    margin: 0;
}

/* HEADER BELOW */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-nav-height);
    background: var(--eggshell);    
    padding: 0.7rem;
}

header * {
    color: var(--night-black);
}

#header-title-container {
    height: 100%;
    width: 400px;
}

/* #header-nav-container {
} */

#bucket-bounds-logo {
    text-decoration: none;
    border-radius: 0.5em;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#bucket-bounds-logo svg {
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    object-fit: fill;
    fill: var(--cambridge-blue);
}

#bucket-bounds-logo svg:hover {
    fill: white;
    transition: var(--button-transition);
}

#header-nav {
    display: flex;
    justify-content: flex-end;
    /* gap: 0.5em; */
    /* width: 37rem; */
}

#header-nav-links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

#header-nav a {
    font: 1.4em 'Josefin Sans', sans-serif;
    letter-spacing: 0.05em;
    text-decoration: none;
}

header a {
    border-radius: 0.5em;
    padding: 0.3em;
}

header a:hover {
    background: var(--cambridge-blue);
    transition: var(--button-transition);
}

#nav-profile-container {
    display: flex;
    align-items: center;
    aspect-ratio: 1 / 1;
    padding-right: 0.5em;
}

#nav-profile-container a {
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;

    aspect-ratio: 1 / 1;
}

#nav-img {
    aspect-ratio: 1 / 1;
    width: 2.5rem;
}



/* BOTTOM NAV BAR */

#bottom-nav-bar {
    height: 5rem;
    bottom: 0px;
    width: 100%;
    background-color: var(--eggshell);
}





/* HOME HELLO FORM */

main {
    margin: 0;
    padding: 1rem;
}

main * {
    font-family: 'Josefin Sans', cursive;
    color: var(--night-black);
}

#home-hello-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
}

#home-hello-form > form {
    padding: 1.6em;
    background-color: var(--tea-green);
    width: max-content;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-hello-form > form * {
    font-size: 1.3em;
}

#home-hello-form > form > input[type=text] {
    width: max-content;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    font-weight: 300;
    text-align: center;
    margin-top: 0.5em;
    padding: 0px;
    padding-bottom: 1px;
}

#home-hello-form input[type=text]:hover,
#home-hello-form input[type=text]:focus {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--night-black);
}

#home-hello-form input[type=text]:focus {
    outline: none;
}

#home-hello-form input[type=submit] {
    width: max-content;
    padding: 0.5em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--eggshell);
}

#home-hello-form input[type=submit]:hover {
    background-color: var(--taupe-grey);
    color: white;
    transition: var(--button-transition);
}



#location-img-section {
    height: calc(100vh - var(--header-nav-height));
}

#location-main-img {
    width: 100%;    
    height: 75%;
    position: relative;
}

.location-img {
    border: 2px dashed black;
    width: 100%;
    height: 100%;
}

.location-img img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2em; 
    padding-top: 5em;   
    width: 100%;
    background: linear-gradient(transparent, rgb(108, 108, 108));
}

.img-description > h1 {
    margin-block: 0px;
    font-size: 3.5em;
    color: white;
}

#location-img-carousel {
    height: 25%;
    width: 100%;
    display: flex;
}

.secondary-img {
    aspect-ratio: 3 / 2;
}


#destination-page {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 10px;
}

#destination-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 3rem 3rem 15rem;
    gap: 0.5rem;
    grid-template-areas: 
        "title title"
        "country city"
        "category ."
        "description description";

    background-color: var(--tea-green);
    padding: 1rem;
    border-radius:0.5rem;
    font-size: 1em;
}

.destination-container {
    /* background-color: var(--eggshell);
    border-radius: 0.5em;
    border: 3px dashed gray; */
    display: flex;
    align-items: center;
}

#destination-page h1{
    font-weight: 500;
    letter-spacing: -0.1em;
}

#destination-page h2{
    font-weight: 400;   
}

#destination-title-container {
    grid-area: title;
    font-size: 2em;
}

#destination-country-container {
    grid-area: country;
}

#destination-city-container {
    grid-area: city;
}

#destination-category-container {
    grid-area: category;
}

#destination-description-container {
    grid-area: description;
    display: block;
}


#destination-images .destination-container{
    aspect-ratio: 1/1;
    background-color: var(--taupe-grey);
    border-radius: 0.5rem;
}
