/* 
    https://coolors.co/faf3dd-c8d5b9-8fc0a9 
    font-family: 'Josefin Sans', sans-serif;    100-700
    font-family: 'Yeseva One', cursive;         400
*/

* {
    box-sizing: border-box;
}

body {
    --eggshell: #FAF3DD;
    --tea-green: #C8D5B9;
    --cambridge-blue: #8FC0A9;
    --night-black: #00120B;
    --taupe-grey: #5f5f5f;
    --button-transition-time: 0.2s;
    --header-nav-height: 5rem;
    --bottom-nav-height: 5rem;
    --footer-height: 10rem;
    --main-content-height: calc( 100vh - var(--header-nav-height) );

    margin: 0;
}

h1, h2 {
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings: 
        /* 'FILL' 1,  */
        /* 'wght' 700,  */
        /* 'GRAD' 0,  */
        'opsz' 48;
    font-size: 30px;
}




/* GENERAL STYLING BELOW */

.bounce-button {
    transition: transform var(--button-transition-time) cubic-bezier(0.18, 0.89, 0.32, 1.5);
}

.bounce-button:hover {
    transform: translateX(4px) translateY(-4px);
}

.img-container {
    width: 100%;
    height: 100%;
}

.img-container img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}





/* HEADER BELOW */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-nav-height);
    background: var(--eggshell);    
    padding: 0 0.7rem;
}

header * {
    color: var(--night-black);
}

#header-title-container {
    height: 100%;
}

#header-nav-container {
    margin-right: 8px;
}

#bucket-bounds-title-anchor {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;
    /* width: 100%; */
}

#header-title-container .img-container {
    width: auto;
    height: calc(100% - 0.7rem);
}

#bucket-bounds-title-anchor img {
    object-fit: contain;
}

#bucketbounds-svg-container {
    height: calc(100% - 2rem)
}

#bucket-bounds-title-anchor svg {
    height: 100%;
    width: 100%;
    object-position: 50% 50%;
    object-fit: fill;
    fill: var(--cambridge-blue);
}

#header-nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    /* gap: 0.5em; */
    /* width: 37rem; */
}

#header-nav-links-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.header-nav-link {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-style: none;
    border-radius: 0.5em;
    padding: 0.4em;
    text-decoration: none;
    text-align: center;
    color: var(--night-black);
}

nav a {
    text-decoration: none;
    /* background: var(--cambridge-blue) */
}

nav h6 {
    margin: 0;
    text-decoration: none;
    font-weight: 400;
    font: 1.4em 'Josefin Sans', sans-serif;
    letter-spacing: 0.05em;
}

#header-nav-container a {
    border-radius: 0.5em;
    padding: 0.4em;
    transition: var(--button-transition-time)
}

#header-nav-container a:hover {
    background: var(--cambridge-blue);
    color: white;
}



/* BOTTOM NAV BAR */

#bottom-nav-bar {
    height: var(--bottom-nav-height);
    bottom: 0px;
    width: 100%;
    background-color: var(--eggshell);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-nav-bar-link-container {
    width: 35%;
}

.bottom-nav-bar-anchor {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    align-items: center;
    font: 1.4em 'Josefin Sans', sans-serif;
    font-style: none;
    border-radius: 0.5em;
    padding: 0.4em;
    text-decoration: none;
    background-color: var(--cambridge-blue);
    text-align: center;
    color: var(--night-black);
}

.bottom-nav-bar-text {
    font-size: 1.5rem;
}




/* FOOTER */

footer {
    background-color: var(--taupe-grey);
    color: white;
    padding: 3rem;

    display: flex;
    justify-content: space-between;
    gap: 3rem;

    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.2em;
}

footer ul{ 
    list-style-type: none;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

footer a {
    /* text-decoration: none; */
    color: white;
    font-weight: 300;
}

#footer-logo {
    height: 3rem
    
}

footer #bucket-bounds-title-anchor {
    justify-content: left;
}

footer #bucketbounds-svg-container {
    height: 100%;
}

footer .img-container {
    height: 100%;
    width: auto;
}

#site-details-column {
    margin-top: 2rem;
}




/* HOME PAGE */

main {
    margin: 0;
}

main * {
    font-family: 'Josefin Sans', cursive;
    color: var(--night-black);
}

#home-page-anim-canvas, canvas {
    width: 100%;
    height: 100%;
}

#home-page-initial {
    height: var(--main-content-height);
    /* background-color: var(--cambridge-blue);  */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    font-size: 3em;
    letter-spacing: -0.05em;
}

#home-intro-box {
    
    background-color: var(--eggshell);
    width: 65%;
    border-radius: 1em;
    position: absolute;
}

#home-intro-content-container {
    padding: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-intro-container {
    position: relative;
}

#home-intro-box h1 {
    text-align: center;
}

#home-intro-img-container {
    padding: 1rem;
    position: absolute;
    opacity: 50%;
    z-index: -0;
}

#home-intro-container img {
    object-fit: contain;
}

#home-intro-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.home-intro-anchor {
    text-decoration: none;
    position: relative;
    width: 100%;
    background-color: var(--cambridge-blue);
    border-radius: 0.5rem;
}

.home-intro-anchor h2 {
    position: relative;
    padding: 1rem;
    padding-right: 0;
    margin: 0;
    z-index: 2;
    text-align: right;
    width: 90%;
    font-weight: 400;
}

.home-intro-icon {
    position: absolute; 
    opacity: 50%;
    font-size: 6em;
    color: var(--eggshell);
    z-index: 1;
}

#home-description-section {
    padding: 3rem;
    font-size: 1.6em;
}





/* DESTINATION-VIEW PAGE */

#destination-page {
    display: block;
}

#destination-img-details-container {
    height: var(--main-content-height);
    background-color: var(--cambridge-blue);
    position: relative;
}

#destination-img-carousel-container {
    height: 100%;
    position: relative;
    
    overflow: hidden;
}

#images-container {
    display: flex;
    height: 100%;
    width: max-content;
    transform: translate(0, 0);
    transition: transform var(--button-transition-time) ease-in;
}

.carousel-img {
    width: 100vw;
}

#destination-img-carousel-controls {
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    z-index: 2;
}

.destination-img-carousel-control button {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3em;
    font-variation-settings: 'wght' 700;
    color: black;
    background-color: white;
    border-radius: 25%;
    opacity: 50%;
    border: none;
    cursor: pointer;
}

/* .destination-img-carousel-control button:focus {
    
} */

#destination-page h1{
    font-weight: 500;
    letter-spacing: -0.1em;
}

#destination-page h2{
    font-weight: 400;   
}

#destination-details-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3rem 1rem 1rem 1rem;
    background: linear-gradient(transparent, rgb(255, 255, 255));
}

#destination-name-container {
    font-size: 2em;
}

#destination-details-city-country-container {
    display: flex;
    gap: 2rem;
}

#destination-description-container {
    display: block;
    padding: 1rem;
    font-size: 1.2em;
}

#destination-category-container {
    position: absolute;
    top: 0;
    padding: 1rem;
}




/* DESTINATION-EDIT */

#destination-create-main, 
#destination-list-main {
    padding: 3rem;
    font-size: 0.8em;
    height: var(--main-content-height)
}

#destination-create-form-container {
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: var(--cambridge-blue);
    font-size: 1.7em;
}

#destination-create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#destination-create-form-container input[type=text] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    font-weight: 300;
    font-size: inherit;
    margin-top: 0.3em;
    padding: 0px;
    padding-bottom: 1px;
}
    
#destination-create-form-container input[type=text]:hover,
#destination-create-form-container input[type=text]:focus {
    padding-bottom: 0px;
    border-bottom: 2px solid var(--night-black);
    outline: none;
}

#destination-create-form-container input[type=submit] {
    width: max-content;
    font-size: 1em;
    padding: 0.5em;
    padding-bottom: 0.3em;
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    background-color: var(--eggshell);
    margin-top: 2rem;
}

#destination-create-form-container input[type=submit]:hover {
    background-color: var(--taupe-grey);
    color: white;
    transition: var(--button-transition);
}

#form-response {
    font-size: 1.7em;
}




/* DESTINATION LIST */
#destinations-list-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destinations-list-item {
    background-color: var(--cambridge-blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    font-size: 1.5em;
    padding: 1rem;
    text-decoration: none;
}

.destinations-list-item p {
    margin: 0;
}





