* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    padding: 20px;
    width: 80%;
}

form {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 1rem 3rem;
    background-color: #faf3dd;
}